<div class="row" id="header">
  <div class="col-12">
    <div class="row">
      <div class="col-md-10 col-12 text-light">
        <a [routerLink]="['/']" class="text-white">{{ 'label.app' | translate }}</a>
      </div>
      <div class="col-md-2 col-12 login-button">
        <button type="button" class="btn btn-block btn-outline-light"
                *ngIf="!_authServiceFirebase.isAuthenticated()"
                (click)="openLogin()">{{ 'label.login'  | translate}}</button>
        <button type="button" class="btn btn-block btn-outline-light"
                *ngIf="_authServiceFirebase.isAuthenticated()"
                (click)="logout()">{{ 'label.logout'  | translate}}</button>
        <button type="button" class="btn btn-block btn-outline-light"
                *ngIf="_authServiceFirebase.isAuthenticated()"
                [routerLink]="['/list-bookings']">{{ 'label.show.bookings'  | translate}}</button>
      </div>
    </div>
  </div>
</div>
